@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  color: white;
}

html {
  font-family: "Montserrat";
}

body {
  margin: 0;
  background-color: #1d1d1d;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  --bs-gutter-x: 0;
}
