.flagged-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.video-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
