/* .homepage {
  display: grid;
  color: white;
  background-color: #383838;
  min-height: 100vh;
  place-items: center;
} */

.homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  position: relative;
}
