.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh 35vw 10vh 35vw;
  height: calc(80vh - 70px);
  width: calc();
  background-color: black;
  border-radius: 50px;
  justify-content: space-evenly;
}

.toktikTitle {
  display: flex;
  font-size: 7em;
  color: white;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.userInput {
  border-radius: 50px;
  border-color: black;
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}

.loginBtn {
  width: 100%;
  border-radius: 50px;
  border-color: #ea284e;
  color: whitesmoke;
  background-color: #ea284e;
}

.signUp {
  font-size: 1.2rem;
}

.signUp > a {
  text-decoration: none;
  font-weight: bold;
}
.signUpText {
  color: #ea284e;
}
