.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.profilePicture {
  border-radius: 50%;
  border-style: solid;
  border-color: whitesmoke;
  border-width: thick;
}

.profileStats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.profileStats > div {
  width: 20%;
}

.profileButtons {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.button {
  color: whitesmoke;
  background-color: #ea284e;
  border-color: transparent;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 3rem;
  text-align: center;
  width: 235.38px;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.description {
  text-align: center;
}

.descriptionInput {
  text-align: center;
  font-size: 24;
  border-radius: "transparent";
  background-color: transparent;
  color: whitesmoke;
  width: 30vw;
}

.userVideoContainer {
  display: grid;
  grid-template-columns: repeat(5, 15vw);
  grid-template-rows: 40vh;
  row-gap: 5vh;
}
