.container {
  background-color: black;
  margin: 5px;
  border-radius: 20px;
  display: block;
  position: relative;
  height: 90vh;
}

.container > h1 {
  text-align: center;
  margin: 30px;
  font-size: 1em;
}

.users {
  display: flex;
  background-color: transparent;
  height: 70px;
  align-items: center;
  padding: 0 20px;
}

.users:hover {
  background-color: #ea284e;
  cursor: pointer;
}

.profilePic {
  border-radius: 50%;
  height: 50px;
}

.userDetails {
  overflow: hidden;
  text-align: left;
  padding-left: 20px;
  display: grid;
}

.userBanner {
  display: flex;
  /* height: 10vh; */
  align-items: center;
  /* justify-content: center; */
  margin: 20px 0;
  padding: 0 20px;
  /* padding-bottom: 10px; */
}

.chatbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 70vh;
  padding: 0 20px;
  position: relative;
}

.chatbox > div {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  overflow-y: auto;
}

.timestamp {
  align-self: flex-end;
  font-size: 0.5em;
  padding-bottom: 1em;
}

.chatbubble {
  inline-size: fit-content;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  max-width: 30vw;
  overflow-wrap: break-word;
}

.bottomBanner {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0 20px;
  justify-content: center;
  background-color: black;
  border-radius: 20px;
}

.bottomBanner > input {
  width: 80%;
  padding: 5px;
  background-color: #333333;
  margin: 2px;
  border-radius: 10px;
  border: transparent;
}

.bottomBanner > button {
  margin: 2px;
  padding: 5px;
  width: 5%;
  background-color: #ea284e;
  border-radius: 10px;
  border: transparent;
}
