.navbar {
  background-color: black;
  height: 70px;
}

.logo > a > img {
  padding-left: 20px;
  height: 70px;
}

.navigation {
  padding-right: 50px;
}

.navlinks {
  float: right;
  margin-left: 10px;
  border: transparent;
  background-color: transparent;
  height: 70px;
}

.navlinks > a {
  /* color: white; */
  /* text-decoration: none; */
}

.guestProfilePic {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  scale: 1.7;
  border: transparent;
  background-color: transparent;
}

.userIcon {
  scale: 1.4;
  margin-top: 5px;
  margin-right: 15px;
  /* color: #c60060; */
}

.userProfilePic {
  border-radius: 50%;
  height: 55px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 3px;
}

.dropdownlinks {
  display: none;
  text-align: center;
  z-index: 10000;
}

.dropdownlinks > a {
  float: none;
  display: grid;
  color: white;
  height: 100%;
  align-items: center;
  padding: 5px;
  text-decoration: none;
}

.dropdownlinks > a:hover {
  background-color: #ea284e;
}

.dropdown:hover .dropdownlinks {
  display: grid;
  position: fixed;
  top: 70px;
  right: 20px;
  height: 80px;
  width: 120px;
  background-color: #2f2f2f;
}

/* Content moderator navbar  */

.cmdropdownlinks {
  text-align: center;
  display: none;
}

.cmdropdownlinks > a {
  float: none;
  display: grid;
  color: white;
  height: 100%;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  font-size: 11px;
}

.cmdropdownlinks > a:hover {
  background-color: #ea284e;
}

.cmdropdown:hover .cmdropdownlinks {
  display: grid;
  position: fixed;
  margin-top: 42px;
  background-color: #2f2f2f;
}
