.videoContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.video {
  height: 40vh;
  width: fit-content;
  outline-color: crimson;
  border-radius: 20px;
}

.title {
  text-align: center;
  width: 13vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
