.videoContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.video {
  height: 40vh;
  width: fit-content;
  outline: auto;
  outline-color: crimson;
  border-radius: 20px;
}

/* .title {
  margin-top: 2vh;
  width: fit-content;
  text-align: center;
} */
