.videoDisplay {
  position: relative;
  height: 90vh;
  background-color: black;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  margin: 2vh;
  box-shadow: 0 0 5rem black;
}

.videoPlayer {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: inherit;
  display: flex;
  position: relative;
}

@keyframes buttonDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pauseBtn {
  position: absolute;
  margin: auto;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: buttonDisplay;
  animation-duration: 0.8s;
}

.pauseBtn > svg {
  scale: 2;
}

.title {
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  font-size: 0.8rem;
  text-shadow: 0 0 1.5em black;
  z-index: 10;
}

.username {
  position: absolute;
  bottom: 5vh;
  left: 2vw;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 0 0 1.5em black;
  text-decoration: none;
  color: white;
  z-index: 10;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
}

.commentLength {
  font-size: 10px;
}

button > svg {
  filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.5));
}

button > p {
  text-shadow: 0 0 1em black;
}

.pp {
  position: absolute;
  z-index: 100;
  width: 3vw;
  border-radius: 50px;
  border: whitesmoke solid;
  bottom: 4vw;
  left: 1.6vw;
}
